*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --white: whitesmoke;
  --black: #282828;
  --bg-banner: #cd6858;
  --couch: #5d5560;
  --bg-chatbox: #dda15e;
  --chair: #d9020f;
  --box-shadow: #999;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  /* Fonts and text */
  color: var(--black);
  font-family:
    "Montserrat",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* Spacing and Sizes */
  margin: 0;
  min-height: 100%;
}

/* ===== Typography ===== */

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 1.875rem 1.5625rem;
}

.logo {
  font-weight: 700;
  font-size: 18px;
}

.banner {
  /* colors and text */
  background-color: var(--bg-banner);
  color: var(--white);
  text-align: center;
  /* padding, margin, border */
  padding: 10px 20px;
  margin: auto;
  border-radius: 1px;
  /* position and displays */
  position: absolute;
}

/* ===== Lists =========== */

.nav-list {
  /* position and displays */
  display: flex;
  align-items: center;
  gap: 0.625rem;
  /* padding, margins */
  padding: 25px;
  margin: 0;
  /* list style */
  list-style: none;
}

.nav-burger {
  width: 23px;
}

.list-burger {
  margin-top: auto;
  margin-left: auto;
}

/* ===== Buttons ======== */

.btn-book {
  color: var(--white);
  background-color: var(--bg-banner);
  font-weight: 800;
  border: none;
  border-radius: 1px;
  padding: 0.5em 1.5em;
  align-self: center;
}

.chatbox-bg {
  /* colors and text */
  background-color: var(--bg-chatbox);
  box-shadow: 1px 1px 5px var(--box-shadow);
  cursor: pointer;
  /* width/height */
  width: 40px;
  height: 40px;
  /* box model */
  border-radius: 100%;
  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position */
  position: fixed;
  bottom: 10px;
  right: max(10px, calc((100vw - 800px) / 2 + 10px));
}

.chatbox-icon {
  width: 50%;
}

/* ===== Images ========= */

.item-img {
  object-fit: cover;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 2px;
  box-shadow: 1px 1px 1px var(--box-shadow);
}

.icon {
  width: 25px;
}

/* ===== Layout ========= */

header {
  background-color: var(--black);
  color: var(--white);
}

.section-one {
  position: relative;
}

.caption {
  margin: 0 1rem;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.nav-wrapper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

/* Utility Classes */

.bold {
  font-weight: 800;
}

.block {
  display: block;
}

.couch {
  color: var(--couch);
}

/* .chair {
  color: #7ea904;
  font-weight: 800;
} */

/* ===== Media Queries ===== */

@media (max-width: 350px) {
  h1 {
    font-size: 1.5rem;
  }

  .logo {
    font-size: 0.75rem;
  }

  .icon {
    width: 0.85rem;
  }

  .nav-burger {
    width: 0.85rem;
  }

  .nav-list {
    gap: 0.4rem;
  }

  .banner {
    font-size: 0.75rem;
  }

  .caption {
    flex-direction: column;
    gap: 0;
    font-size: 0.75rem;
  }

  .btn-book {
    align-self: stretch;
    font-size: 0.75rem;
    align-self: start;
    border-radius: 1px;
    margin-bottom: 1rem;
  }
}